/HelloSplash/nbproject/private/
/HelloSplash/config/
/HelloSplash/hooks/
/HelloSplash/merges/
/HelloSplash/nbproject/
/HelloSplash/plugins/
/HelloSplash/test/
/HelloSplash/platforms/android/ant-build/
/HelloSplash/platforms/android/ant-gen/
/HelloSplash/platforms/android/ant-assets/
/HelloSplash/platforms/android/assets/
/HelloSplash/platforms/android/build.xml
/HelloSplash/platforms/android/cordova/
/HelloSplash/platforms/android/CordovaLib/
/HelloSplash/platforms/android/custom_rules.xml
/HelloSplash/platforms/android/libs/
/HelloSplash/platforms/android/local.properties
/HelloSplash/platforms/android/platform_www/
/HelloSplash/platforms/android/proguard-project.txt
/HelloSplash/platforms/android/project.properties
/HelloSplash/platforms/android/src/
